<% layout("layouts/boilerplate") %>
    <style>
        .profile {
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            margin: 0 auto;
            padding: 20px;
            width: 80%;
        }

        .profile h1 {
            text-align: center;
        }

        .profile p {
            text-align: center;
        }
    </style>

    <body>

        <div class="profile">
            <h1>User Profile</h1>
            <p>Welcome to the user profile page!</p>
        </div>

    </body>